<center>
  <h1 class="mb-4 p-4">Seu arquivo CSV ficou pronto!</h1>
  <form method="get" action="download" class="mb-4">
    <button type="submit" class="btn btn-dark bg-dark">Download</button>
  </form>
<center>
<%= link_to "Voltar", :back, class: "btn btn-dark bg-dark" %>